version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    container_name: django_web
    restart: unless-stopped
    env_file:
      - .env.production
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - db_volume:/app/db
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/app.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
      # Add static files volume
      - static_volume:/app/staticfiles:ro
    depends_on:
      - web
    networks:
      - app-network
    # Add DNS configuration for better resolution
    dns:
      - 8.8.8.8
      - 1.1.1.1

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    entrypoint: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew;
        sleep 12h;
      done"

networks:
  app-network:
    driver: bridge

volumes:
  static_volume:
  media_volume:
  db_volume:
  certbot_conf:
  certbot_www: